## 黑名单
.idea/*
.gradle/*
DUMP_CLASS_FILES/*
gradle/*
out/*
gradlew
gradlew.bat
build/*
logs/*
publish/*
src/test/**/*.*
keimons-platform.iml
keimons.basic/out/*
keimons.basic/build/*
keimons-docs-sidebar/out/*

## 白名单
!src/test/java/com/keimons/platform/**/*.*