## 黑名单
.idea/*
.gradle/*
DUMP_CLASS_FILES/*
gradle/*
out/*
gradlew
gradlew.bat
build/*
logs/*
publish/*
src/test/**/*.*
nutshell-basic.iml
nutshell-basic/out/*
nutshell-basic/build/*
nutshell-docs-sidebar/out/*

## 白名单
!src/test/java/com/nutshell/**/*.*